# Платформо-залежні файли збірки
.pio/
.pioenvs/
.piolibdeps/

# Налаштування VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
# (Виключення "!" вище можна прибрати, якщо ви хочете поділитися налаштуваннями відладки з командою)

# Тимчасові файли ОС (особливо для macOS)
.DS_Store
Thumbs.db